@import './App.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #080808;
}

body {
  user-select: none;
}

input,
textarea,
select,
[contenteditable='true'] {
  user-select: text;
}

#root {
  min-height: 100%;
}
